.crewmate-container {
    position: absolute;
    top: 50px;
    left: 170px;
    width: 100%;
    z-index: 1000;
}

.crewmate-task-list,
.crewmate-map-button {
    flex: none;
}

.crewmate-role {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin-left: -40px;
    margin-top:10px;
}
