/* CrewmatesAnimation.css */
.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/victoryCrewmates.jpg");
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
}

.animation-content {
    text-align: center;
    color: white;
}

.animation-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.crewmate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.crewmate-item {
    text-align: center;
}

.crewmate-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.crewmate-name {
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 18px;
}
