@font-face {
    font-family: 'DSEG14Classic';
    src: url('/public/fonts/DSEG14Classic-Regular.woff2') format('woff2'),
    url('/public/fonts/DSEG14Classic-Regular.woff') format('woff'),
    url('/public/fonts/DSEG14Classic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.MapDisplay-map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: absolute;
    transition: transform 0.5s ease;
}

.MapDisplay-row {
    display: flex;
}

.MapDisplay-cell {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.walkable {
    background-image: url("/public/images/floor.png");
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 223, 0, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 223, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 223, 0, 0);
    }
}

.task {
    position: relative;
    background-color: gold;
    animation: glowYellow 1.5s infinite alternate;
    cursor: pointer;
}

.task-impostor {
    position: relative;
    background-color: red;
    animation: glowRed 1.5s infinite alternate;
    cursor: pointer;
}

.task::after,
.task-impostor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    animation: glow 2s infinite alternate;
    pointer-events: none;
}

.completed-task {
    background-color: grey;
    cursor: not-allowed;
}

@keyframes glowYellow {
    0% {
        box-shadow: 0 0 5px rgba(255, 215, 0, 0.75);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 215, 0, 1);
    }
}

@keyframes glowRed {
    0% {
        box-shadow: 0 0 5px red;
    }
    100% {
        box-shadow: 0 0 15px red;
    }
}


.obstacle {
}

.table1 {
    background-image: url("/public/images/table1.png") ;
}

.table2 {
    background-image: url("/public/images/table2.png") ;
}

.table3 {
    background-image: url("/public/images/table3.png") ;
}

.table4 {
    background-image: url("/public/images/table4.png") ;
}

.window {
    background-image: url("/public/images/window.png") ;
}

.wall {
    background-image: url("/public/images/wall.png") ;
}

.wall2 {
    background-image: url("/public/images/wall2.png") ;
}

.wall3 {
    background-image: url("/public/images/wall3.png") ;
}

.edge1 {
    background-image: url("/public/images/edge1.png") ;
}

.edge2 {
    background-image: url("/public/images/edge2.png") ;
}

.task1 {
    background-image: url("/public/images/vending.png");
    background-size: cover;
    background-position: center;
    border: 3px solid yellow;
    cursor: pointer;
}

.emergency1 {
    background-image: url("/public/images/emerg1.png");
    cursor: pointer;
}

.emergency2 {
    background-image: url("/public/images/emerg2.png");
    cursor: pointer;
}

.emergency3 {
    background-image: url("/public/images/emerg3.png");
    cursor: pointer;
}

.emergency4 {
    background-image: url("/public/images/emerg4.png");
    cursor: pointer;
}

.vent {
    background-image: url("/public/images/vent.png");
    cursor: pointer;
}

.completed-task1 {
    background-image: url("/public/images/vending.png");
    box-shadow: none;
    animation: none;
}

.player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-image {
    width: 100%;
    height: auto;
}

.player-name {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 2px 5px;
    font-size: 0.75rem;
    white-space: nowrap;
    border-radius: 3px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.progress-container {
    position: absolute;
    top: 150px;
    left: 10px;
    z-index: 1000;
    width: 15%;
}

.progress {
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.progress-bar {
    font-family: 'DSEG14Classic', sans-serif;
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 0.5s;
    position: relative;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        left: -50px;
    }
    100% {
        left: 100%;
    }
}

.task-list {
    font-family: 'DSEG14Classic', sans-serif;
    margin-top: 30px;
}

.task-item {
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 19px;
    color: white;
}

.task-item1 {
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
    animation: glowRed 1s infinite alternate;
}

.task-item.completed {
    font-family: 'DSEG14Classic', sans-serif;
    color: green;
}

.sabotage-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.sabotage-icon {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: opacity 0.3s;
    position: relative;
}

.sabotage-icon.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.sabotage-cooldown {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
    text-shadow:
            -4px -4px 0 #000,
            4px -4px 0 #000,
            -4px  4px 0 #000,
            4px  4px 0 #000; /* Schatten in Schwarz */
}

.sabotage-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sabotage-countdown {
    color: red;
    font-size: 100px;
    font-family: 'DSEG14Classic', sans-serif;
    font-weight: bold;
    text-shadow:
            -4px -4px 0 #000,
            4px -4px 0 #000,
            -4px 4px 0 #000,
            4px 4px 0 #000;
    animation: glowWhite 1s infinite alternate;
}

.sabotage-message {
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 50px;
    color: white;
    animation: glowRed 1s infinite alternate;
    margin-bottom: 20px;
}

.sabotage-image {
    width: 200px;
    height: 300px;
    margin-top: 20px;
    animation: floatLeftRight 3s infinite linear, glowWhite 1s infinite alternate;
}

@keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes glowRed {
    from {
        text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
    }
    to {
        text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red;
    }
}

@keyframes glowWhite {
    from {
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
    to {
        text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white;
    }
}

@keyframes floatLeftRight {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background: rgba(138, 137, 137, 0.5);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #c5c0c0;
    text-align: center;
    width: 600px;
    height: 420px;
    box-shadow: 0 0 10px rgba(210, 201, 201, 0.5);
    position: relative;
}

.message-container {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    background-color: white;
    color: black;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 12px 0;
    box-shadow: 0 7px 3px rgba(0, 0, 0, 0.9);
}

.text-content {
    flex-grow: 1;
    text-align: left;
}

.close-button {
    position: absolute;
    background: rgba(90, 93, 93, 0.7);
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d96f38;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 10px;
    padding: 9px 9px;
    position: absolute;
    bottom: 20px;
}

.input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 14px;
    outline: none;
    padding-right: 40px;
    width: 470px;
}

.input-container button {
    padding: 9px 15px;
    background-color: #eeeaea;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #dcd9d9;
}

.input-container button svg {
    width: 22px;
    height: 22px;
    fill: #15159a;
}

.username {
    color: #0bdeae;
}

