.MapDisplay-row {
    display: flex;

}
.MapDisplay-cell {
    width: 10px;
    height: 10px;
}

.MapDisplay-cell.walkable {
    background-image: url('/public/images/floor.png');
    background-size: cover;
    background-position: center;
}


.MapDisplay-cell.obstacle {
}

.MapDisplay-cell.player {
}
