.MapDisplay-row {
    display: flex;

}
.MapDisplay-cell {
    width: 40px;
    height: 40px;
}

.MapDisplay-cell.walkable {
    background-image: url('/public/images/floor.png');
    background-size: cover;
    background-position: center;
}


.MapDisplay-cell.obstacle {
    background-color: #708090;
    border: 2px solid;
    /*
    background-image: url('/public/images/img_1.png');
    background-size: cover;
    background-position: center;
    border: 1px solid dimgrey;*/
}

.MapDisplay-cell.player {
}
