.impostor-container {
    position: absolute;
    top: 50px;
    left: 170px;
    width: auto;
    z-index: 1000;
}

.impostor-role {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin-left:-45px;
}

.impostor-map-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.kill-button {
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
    background: url('/public/images/impostor/kill.png') no-repeat center / contain;
    border: none;
}


.kill-button img {
    width: 70%;
    height: auto;
}

.kill-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}




