.impostor-container {
    position: absolute;
    top: 50px;
    left: 170px;
    width: auto; /* Change to auto for better flexibility */
    z-index: 1000;
}

.impostor-role {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative; /* Ensure proper positioning for children */
    margin-left:-45px;
}

.impostor-map-button {
    position: absolute;
    top: 10px; /* Adjust the position from the top */
    right: 10px; /* Adjust the position from the right */
    z-index: 1;
}

.kill-button {
    position: fixed;
    right: 20px; /* Closer to the right edge */
    bottom: 40px; /* Align vertically with the sabotage button */
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 1000;
    background: url('/public/images/impostor/kill.png') no-repeat center / contain;
    border: none;
}


.kill-button img {
    width: 70%;            /* Size of the image within the button */
    height: auto;          /* Maintains the aspect ratio of the image */
}

.kill-button.disabled {
    opacity: 0.5; /* Makes the button look disabled */
    pointer-events: none; /* Disables button interaction */
}




