.impostor-container {
    position: absolute;
    top: 50px;
    left: 170px;
    width: 100%;
    z-index: 1000;
}

.impostor-map-button {
    flex: none;
}

.impostor-role {
    flex-grow: 1;
    display: flex;
    left: 50px;
}
