.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/DefeatImpostor.webp");
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 1000; /* Ensure it is above other content */
}

.animation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Optional: Change the text color to ensure it's readable */
}

.impostor-players {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.impostor-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.impostor-player-image {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    margin-bottom: 5px;
}

.impostor-player-name {
    font-size: 16px;
    color: white; /* Ensure text color is readable */
}

.animation-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
}

h1 {
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 36px;
}
