.space {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lobby-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.players-info {
    display: flex;
    align-items: center;
}

.player-icon {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.player-count {
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}

.spaceship-lobby {
    width: 100%;
    height: 70%;
    background: #2a2f32;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.player-avatar {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.player {
    position: relative;
}

.player-icon {
    height: 70px;
    width: auto;
    margin-right: 5px;
}

.player-name {
    color: white;
    font-size: 14px;
}

.game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    margin-top: -150px;
    position: relative;
    z-index: 2;
}

.game-code, .players-info {
    font-size: 1.2em;
    font-family: monospace;
    cursor: pointer;
    position: relative;
}

.start-game-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.start-game-icon {
    width: 100%;
    height: auto;
}

.start-game-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.outfit-dialog {
    height: 400px;
    width: 700px;
    position: relative;
    background-color: #2a2f32;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(210, 201, 201, 0.5);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color:  #2a2f32;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c2780b;
}

.player-dialog {
    height: 190px;
    width: 190px;
    position: absolute;
    top: 45%;
    right: 30px;
    transform: translateY(-50%);
}

.color-dropdown {
    margin-top: 90px;
    margin-left: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    background-color: #2a2f32;
    color: white;
    border: 1.5px solid #00FA9A;
    text-shadow: 0 0 10px #00FA9A;
    border-radius: 5px;
}

.header-class {
    font-size: 30px;
    color: white;
    border: 1.5px solid #00FA9A;
    text-shadow: 0 0 10px #00FA9A;
    border-radius: 10px;
    height: 55px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
}

.save-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1.5px solid cyan;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    height: 40px;
    width: 120px;
    text-align: center;
    align-items: center;
}

.save-button:hover {
    background-color: cadetblue;
}

.player-dialog-name {
    position: absolute;
    color: white;
    margin-top: 173px;
    margin-left: 57px;
    text-align: center;
    transform: translateX(-50%);
    text-shadow: 0 0 15px rgba(204, 53, 80, 0.76);
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.show-tooltip {
    opacity: 1;
}
