.space {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lobby-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 700px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.players-info {
    display: flex;
    align-items: center;
}

.player-icon {
    height: 50px;
    width: auto;
    margin-right: 5px;
}

.player-count {
    color: white;
    font-size: 1.2em;
    font-family: monospace;
}

.spaceship-lobby {
    width: 100%;
    height: 70%;
    background: linear-gradient(#6E6E6E, #2a2f32);
    clip-path: polygon(20% 0, 80% 0, 90% 20%, 90% 80%, 80% 100%, 20% 100%, 10% 80%, 10% 20%);
    position: relative;
    padding: 20px;
    animation: float 3s ease-in-out infinite;
}

.player {
    position: absolute;
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-seat {
    width: 80px;
    z-index: 1;
}

.player-avatar {
    position: absolute;
    z-index: 2;
    width: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.player-name {
    color: white;
    font-size: 14px;
    z-index: 2;
}

.game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    margin-top: -150px;
    position: relative;
    z-index: 2;
}

.code{
    margin-top: 5px;
    font-size: 0.6em;
    font-style: italic;
}

.game-code, .players-info {
    font-size: 1.2em;
    font-family: monospace;
    cursor: pointer;
    position: relative;
}

.game-code{
    font-size: 1.7em;
    font-weight: bolder;
}

.start-game-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 150px;
    height: 150px;
}

.start-game-icon {
    width: 100%;
    height: auto;
}

.start-game-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.show-tooltip {
    opacity: 1;
}

.flames {
    position: absolute;
    width: 100px;
    height: 50px;
    background: linear-gradient(180deg, rgba(0, 191, 255, 0.8), white, rgba(0, 0, 255, 0.8));
    animation: flames 1.5s infinite ease-in-out, burn 1.5s infinite alternate ease-in-out;
    opacity: 0.8;
    transform-origin: left center;

}

.flames-top {
    left: -1%;
    top: 150px;
    transform: translateX(-100%) rotate(-90deg);
}

.flames-bottom {
    bottom: 350px;
    left: -1%;
    transform: translateX(100%) rotate(180deg);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes burn {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(2);
        opacity: 0.8;
    }
}

@keyframes flames {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
