.private-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.animated-text3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: monospace;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    width: 0;
    animation: typing3 3s steps(32) forwards, blink-caret 0.75s step-end infinite;
    color: white;
    font-size: 20px;
}

@keyframes typing3 {
    from { width: 0 }
    to { width: 32ch }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.join-button {
    position: absolute;
    border: 2px solid white;
    font-family: monospace;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 450px;
}

.join-button:hover{
    color: #00FA9A;
    border-color: #00FA9A;
    text-shadow: 0 0 10px #00FA9A;
    background: black;
}