.voted-out-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 1000;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.voted-out-content {
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.voted-out-content h2 {
    margin-bottom: 20px;
    font-family: 'DSEG14Classic', sans-serif;
    font-size: 38px;
    text-shadow: 1px 1px 2px white;

}

.voted-out-text.crewmate {
    color: green;
    text-shadow: 1px 1px 2px white;
}

.voted-out-text.impostor {
    color: red;
    text-shadow: 1px 1px 2px white;

}

.voted-out-content img {
    width: 100px;
    height: 100px;
}

.voted-out-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flying-astronaut {
    animation: flyAcross 7s linear 1;
    position: absolute;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes flyAcross {
    0% {
        transform: translateX(-100%) translateY(0) rotate(0deg);
    }
    25% {
        transform: translateX(-50vw) translateY(-20vh) rotate(45deg);
    }
    50% {
        transform: translateX(0) translateY(0) rotate(90deg);
    }
    75% {
        transform: translateX(50vw) translateY(20vh) rotate(135deg);
    }
    100% {
        transform: translateX(100vw) translateY(0) rotate(180deg);
    }
}
